.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100vw;
    height: 60px;
    background: #3b71ca;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quizNameInput {
    height: 50px;
    background: #3b71ca;
    outline: none;
    border: none;
    font-size: 20px;
    width: 90%;
    text-align: center;
    color: white;
    opacity: 1;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.8; /* Firefox */
}

.add-btn-container,
.generate-quiz-btn-container,
.preview-btn-container {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.question-container {
    width: 50%;
    border: 5px solid #3b71ca;
    border-radius: 3px;
    margin: 10px 0;
    padding-bottom: 10px;
}

.option-container {
    display: flex;
    flex-direction: column;
}

.label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-generate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.point-container {
    width: 80px;
}
